.basement {
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1023px) {
    .basement {
        background-size: auto 693px;
        background-position: -415px 0px;
    }
}

.basement__wpr {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .basement__wpr {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 614px;
    }
}

.basement__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    min-height: 448px;
    justify-content: center;
}

@media (max-width: 1023px) {
    .basement__wrapper {
        min-height: 100px;
    }
}

.basement__wrapper-img {
    width: 96px;
    margin: 0 auto;
    margin-top: 64px;
}

.basement__wrapper-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #222224;
    width: 360px;
    margin-top: 30px;
}

.basement__wrapper-text--italic {
    font-style: italic;
}

.basement__wrapper-title {
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #222224;
}

@media (max-width: 1023px) {
    .basement__wrapper-title {
        margin-top: 48px;
    }
}

.basement__wrapper-sub-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: $black-bkg;
}

.basement__wrapper-form {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.basement__wrapper-form-email {
    width: 256px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px 0 0 25px;
    border: none;
    background-color: #E1E1E1;
    padding-left: 22px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: #222224;
}

.basement__wrapper-form-email:focus {
    outline: 1px solid red;
}

.basement__wrapper-form-email:hover {
    outline: 1px solid #ffe08c;
}

.basement__wrapper-form-button {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    cursor: pointer;
}

.basement__wrapper-form-button:hover,
.basement__wrapper-form-button:focus {
    background: #FF6A6A;
    color: #FFFFFF;
}

.basement__wrapper-form-button:active {
    opacity: 0.5;
}