.carousel-block {
    max-width: 100%;
    height: 777px;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

.carousel-block__bootstrap {
    width: 100%;
    margin: 0 auto;
}

.carousel-item {
    width: 100%;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel-block__img {
    width: 597px;
    height: 724px;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: white;
    background-color: gray;
}

.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
}

.fa-caret-square-o-left,
.fa-caret-square-o-right {
    color: gray;
}

.carousel-control-next:hover > .fa-caret-square-o-right,
.carousel-control-next:focus > .fa-caret-square-o-right,
.carousel-control-prev:hover > .fa-caret-square-o-left,
.carousel-control-prev:focus > .fa-caret-square-o-left {
    color: #F16D7F;
}

.carousel-control-next:active > .fa-caret-square-o-right,
.carousel-control-prev:active > .fa-caret-square-o-left {
    opacity: 0.5;
}